__pycache__/
*.py[cod]
venv/
env/
.venv/
.env/
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
animals/
.ipynb_checkpoints/
*.db
*.sqlite
*.sqlite3
*.data
.cache/
*.cache
secrets/
*.swp
*.swo
Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
